{% extends 'base.html' %}

{% block content %}
<div class="carousel slide" data-bs-ride="carousel" id="carousel-1" style="height: 600px;">
    <div class="carousel-inner h-100">
        <div class="carousel-item active h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp5462720.jpg&f=1&nofb=1&ipt=5c687a7a5d83b5688ff52af2bcef98af696eb124dd6e53f9d259ca2d3e37b2a3&ipo=images" alt="Slide Image" style="z-index: -1;">
            <div class="container d-flex flex-column justify-content-center h-100">
                <div class="row">
                    <div class="col-md-6 col-xl-4 offset-md-2" style="background: rgba(0, 0, 0, 0.333); border-radius: 10px; padding:2%">
                        <div style="max-width: 350px;">
                            <h1 class="text-uppercase fw-bold">Spotify Tool</h1>
                            <p class="my-3">Get helpful Spotify utilities to manage your account. Start here</p><a class="btn btn-primary btn-lg me-2" role="button" href="#">Let's Go!</a><a class="btn btn-outline-primary btn-lg" role="button" href="#">Learn More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active">
        </button> 
    </div>
</div>
{% endblock %}